/* Mobile & Tablet */
@media (max-width: 1023px) {
    :root {
        --navbar-height: 0rem;
        --header-height: 8rem;
    }

    .hide-on-mobile-tablet {
        display: none !important;
    }

    .show-on-mobile-tablet {
        display: block !important;
    }


    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        background-color: var(--white-color);
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
        box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.2);
        border-radius: 0px !important;
    }

    .header__cart-list-item {
        max-height: 30rem;
    }

    .header__cart-list::after {
        display: block !important;
    }

    .header {
        position: fixed;
        width: 100%;
        z-index: 99;
        top: 0;
    }

    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .header__sort-bar {
        display: flex;
    }

    .app__content {
        padding-top: 8px;
    }

    .mobile-category {
        display: block;
    }

    .banner {
        flex-direction: column;
    }

    .nav-link {
        color: black !important;;
    }

}

/*Tablet */
@media (min-width: 748px) and (max-width: 1023px) {
    /*.hide-on-tablet {*/
    /*  display: none !important;*/
    /*}*/
    /*.header__cart {*/
    /*  width: 85px;*/
    /*  display: flex;*/
    /*  align-items: center;*/
    /*  justify-content: right;*/
    /*  margin-right: 1.6rem;*/
    /*  margin-bottom: 2px;*/
    /*}*/
    /*.header-with-search {*/
    /*  margin-top: 0.2rem;*/
    /*}*/
    /*.header__cart-item-name {*/
    /*  max-width: 40rem;*/
    /*}*/
    #carouselExampleIndicators {
        width: 600px !important;
    }

    .category {
        margin-top: 20px;
        width: 80%;
        text-align: center;
    }

    .footer--item-2 {
        display: none;
    }

    .quality img {
        height: 77px;
        margin-left: -20px;
    }

    .header__cart-list-product {
        top: calc(100% + -29px);
        right: 19rem;

    }

    .cart-detail-wrapper {
        flex-direction: column;
    }

    .cart-detail__right-footer button {
        float: right;
    }

    .logo-holder img {
        margin-top: 36px;
        width: 80px;
        height: 80px;
    }

}

/* Mobile  */
@media (max-width: 739px) {
    .header__cart-item-name {
        max-width: 10rem;
    }

    .app__content {
        margin: 0 4px;
    }

    .footer {
        padding: 4rem 2rem;
    }

    .hide-on-tablet {
        display: none !important;
    }

    .hide-on-mobile {
        display: none !important;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: 0;
        z-index: 999;
        height: 48px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
        border-radius: 0px !important;
        border: 1px solid #e5e5e5;
        padding: 0 1.6rem;
        animation: mobileSearchSideIn linear 0.2s forwards;
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc(var(---header-height) + var(--header-sort-bar-height));
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .header__mobile-search {
        display: block;
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        --height: 2.8rem;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .logo-4 h3 {
        font-size: 2rem;
    }

    .logo-4 p {
        font-size: 12px;
    }

    .footer--item-2 {
        display: none !important;
    }

    .footer--item-info {
        display: none !important;
    }

    .footer--social {
        display: none !important;
    }

    .header__search-label {
        display: block !important;
    }

    .container-fluid {
        width: 30% !important;
        margin-left: 22px !important;
    }


    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
}
